html, body {
    min-width: 100vw;
    min-height: 100vh;
    margin: 0;
    overflow: hidden;
    
}

body {
    display: flex;
    flex-direction: column;
    background-color: #c7c3a7;
    color: #4a473b;
    font-family: Helvetica, sans-serif;
    font-weight: lighter;  
    height: 100vh;
    letter-spacing: 0.1rem; 
    /*background: url(nierautomata-map.jpg) no-repeat;*/

}
body::before{
    content:" ";
    height: 100%;
    width: 100%;
    position: absolute;
    background: url(nierautomata-map.jpg) no-repeat;
    opacity: 0.2;
}

/*
body::before{
    content: "";
    position: absolute;
    background-size: 5px 5px;
    background-image: conic-gradient(from 90deg at 2px 2px,
    rgba(243, 238, 223, 0.1) 90deg,transparent 0);
    pointer-events: none;
    height: 100%;
    width: 100%;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.527) inset;
}
*/

.primary-navigation {
    background-color: lightblue;
    display:block;
    white-space:nowrap;
    overflow-x: scroll;
    scrollbar-width: none;
    padding: 1.4rem 0 0.5rem 5.1rem;

    &::-webkit-scrollbar{
        height: 0;
    }
}

.primary-navigation a{    
    box-sizing: border-box;
    display: inline-block;
    background-color: #b1ad99;
    font-size: 2rem; 
    padding: 0.25rem 0 0.25rem 3rem;
    width: 13.3rem;
}

.primary-navigation a:not(:last-child){
    margin-right: 2.2rem;
}

.primary-navigation::before{
    content: "";
    position: absolute;
    height: 3rem;
    width: 0.7rem;
    margin: 1rem 0 0 -1.2rem;
    border: solid black;
    border-width: 0 0.3rem 0 0.8rem;
}


.lace-pattern{
    display: block;
    border-top: solid black 0.2rem;   
}

.lace-pattern::after{
    content: "";
    background-color: lightcoral !important;
    display:inherit;
    height: 3rem;
    background: url(lace.svg) repeat-x left top / 75px 30px, linear-gradient(to right, #4a473b 12px, transparent 10px, transparent 40px) repeat-x left top / 75px 3px;
    margin: 0 2.5rem 0 4rem;
    
}

header {
    background-color: lightgreen;
}

header h1{
    display: inline-block;
    font-weight: normal;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    text-shadow: 0.3rem 0.3rem #a29f91;
    font-size:3rem;
    margin: 0 0 0 4rem;
}

main {
    background-color: lightslategray;
}








