body {
    display: flex;
    flex-direction: column;
    background-color: #c8c2aa;
    background-size: 5px 5px;
    background-image: linear-gradient(90deg, transparent, transparent 3px, rgba(0, 0, 0, 0.05) 4px), linear-gradient(transparent, transparent 3px, rgba(0, 0, 0, .05) 4px);
    
    color: #4a473b;
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
    margin: 0;
    width: 100vw;
    height: auto;  
    letter-spacing: .1rem;
}

.lace-pattern{
    background-color: transparent;
    border-top: 2px solid #4a473b;
    height:4px;
    background-image: linear-gradient(to right, #4a473b 10px, transparent 10px, transparent 40px);
    background-repeat: repeat-x;
    background-size: 62px 100%; 
    background-position: 50px 0;


}

.circles{
    background-image: radial-gradient(circle, black 10px, transparent 11px);
    background-size: 4px 80;

}



